{extend name="public/base" /}

{block name="body"}
	<?php $_field = input('field');?>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>会员列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <button class="btn ajax-post" url="{:url('changeStatus?status=1')}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:url('changeStatus?status=0')}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:url('changeStatus?status=-1')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<form method="GET" id="search_f1" action="">
				<div class="sleft">
					<select name="field">
						<option value="phone" {if condition="$_field eq 'phone'"}selected{/if}>手机号</option>
						<option value="username" {if condition="$_field eq 'username'"}selected{/if}>用户名</option>
					</select>
				</div>
				<div class="sleft">
					<input type="text" name="value" class="search-input" value="{:input('value')}" placeholder="请输入手机号或用户名">
					<a class="sch-btn" href="javascript:void(0);"><i class="btn-search" id="search_f"></i></a>
				</div>
			</form>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
		<th class="">用户名</th>
		<th class="">邮箱</th>
		<th class="">手机号</th>
		<th class="">真实姓名</th>
		<th class="">身份证号</th>
		<th class="">注册时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		{notempty name="_list"}
		{volist name="_list" id="vo"}
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.username}</td>
			<td><span>{$vo.email|default='未绑定'}</span></td>
			<td><span>{$vo.phone|default='未绑定'}</span></td>
			<td><span>{$vo.truename|default='未绑定'}</span></td>
			<td><span>{$vo.id_card|default='未绑定'}</span></td>
			<td>
				<span>{$vo.create_at|default=''}</span>
			</td>
			<td>
				{if condition="$vo['status'] eq 1"}启用{/if}
				{if condition="$vo['status'] eq 0"}禁用{/if}
			</td>
			<td>
				<a href="edit?id={$vo.id}">查看</a>
				{eq name="vo.status" value="1"}
				<a href="{:url('Member/changeStatus?status=0&ids='.$vo['id'])}" class="ajax-get">禁用</a>
				{else/}
				<a href="{:url('Member/changeStatus?status=1&ids='.$vo['id'])}" class="ajax-get">正常</a>
				{/eq}
                <a href="{:url('User/changeStatus?status=-1&ids='.$vo['id'])}" class="confirm ajax-get">删除</a>
			</td>
		</tr>
		{/volist}
		{else/}
		<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
		{/notempty}
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
{/block}

{block name="script"}
	<script src="__PUBLIC__/static/thinkbox/jquery.thinkbox.js"></script>
<script>

</script>
{/block}
